<div class="card flex flex-col justify-content-center z-0">
  <label class="text-sm font-bold mb-1" [for]="forLabel">{{ label }}</label>
  <p-dropdown
    [options]="countries"
    [formControl]="selectedCountryFormControl"
    [optionLabel]="forLabel"
    [filter]="false"
    [placeholder]="placeholder"
    [id]="forLabel"
    [name]="forLabel"
    [style]="cssProperties"
    [loading]="loading"
    loadingIcon="pi pi-spin pi-spinner"
  >
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <img
          [src]="selectedOption.code.toLowerCase() + '.svg'"
          style="width: 18px"
        />
        <div class="w-full">{{ selectedOption.name }}</div>
      </div>
    </ng-template>

    <ng-template let-country pTemplate="item">
      <div class="flex align-items-center gap-2">
        <img [src]="country.code.toLowerCase() + '.svg'" style="width: 18px" />
        <div class="w-full">{{ country.name }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
