<div class="flex flex-col w-full h-full bg-black">
  <!-- Navbar-->
  <div class="z-10 flex fixed h-16 w-full bg-black"></div>
  <!-- end Navbar-->
  <div class="flex w-full bg-black flex-col mt-16">
    <!-- Header -->
    <div
      class="flex-col bg-black h-24 w-full justify-center items-center text-center"
    >
      <h1 class="text-xl text-white mb-3">
        The fast and trusted way to send money
      </h1>
      <h3 class="text-sm text-white">
        Millions of people send money online to Cameroon.
      </h3>
    </div>
    <!-- end Header -->

    <!-- Form send -->
    <div
      class="flex-col flex w-full bg-black h-auto border-white text-white p-10"
    >
      <div
        class="w-full rounded-lg overflow-hidden shadow-2xl bg-white h-[500px] p-5 text-black"
      >
        <div>
          <app-dropdown-countries
            [formControl]="myFormControl"
            [label]="'Country from'"
          ></app-dropdown-countries>
        </div>
      </div>
    </div>
  </div>
</div>
