/*
:host ::ng-deep input:focus {
  box-shadow: 0 0 0 0.1rem green !important;
}

:host ::ng-deep input:hover {
  box-shadow: 0 0 0 0.1rem green !important;
}

:host ::ng-deep p-inputNumber:focus {
  box-shadow: 0 0 0 0.1rem green !important;
}

:host ::ng-deep p-inputNumber:hover {
  box-shadow: 0 0 0 0.1rem green !important;
}

:host ::ng-deep span:focus {
  box-shadow: 0 0 0 0.1rem green !important;
}

:host ::ng-deep span:hover {
  box-shadow: 0 0 0 0.1rem green !important;
}
*/
